.App {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: static;
}

#root {
    position: absolute;
}

.gallery{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    height: 20vh;
    z-index: 0;
}

.photo {
    z-index: 0;
    width: 200px;
    height: 120px;
    margin-left: 0.5vw;
}

.photo__img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 2px;
}

.a {
    height: 800px;
}

.increase-photo__img {
    width: 200px;
    height: 120px;

    transition: all 1s;
}

.close-img {
    display: none;
    position: absolute;
    height: 3vw;
    width: 3vw;
    z-index: 500;
    margin-left: 95vw;
}

.increase-photo {
    /*z-index: 100;
    width: 200px;
    height: 120px;*/

    transition: all 1s;
}

.img-max {
    width: 70vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 15vw;
}




